@charset "utf-8";
@import url("reset.css");

div {
	background-image: url(banner.jpg);
	width: 450px;
	height: 200px;
	margin:0 auto;
	padding-left: 650px;
	padding-top: 150px;
	padding-right: 100px;
	position: relative;
}
h1 {
	background-color: rgba(52,74,244,1.00);
	position: absolute;
	left: 654px;
	top: 126px;
	height: 57px;
	width: 219px;
	z-index: 10;
}
p {
	background-color: rgba(239,113,115,1.00);
	position: absolute;
	left: 663px;
	top: 135px;
	width: 443px;
	height: 150px;
}
