@charset "utf-8";
/* CSS Document */
body {
	background-image: url(pc.jpg) ;
	background-attachment: fixed;
	
}
.box {
	width: 1200px;
	background-image:url(bg06.png),url(bg07.png),url(bg08.png);
	background-color:rgba(252,249,249,1.00);
	background-repeat: repeat-x,no-repeat,no-repeat;
	background-position:left top,right top,right bottom;
	margin:auto;
}
